.search_page {
    position: relative;
    line-height: 1.4;
    color: #000;
    min-width: 320px;
    overflow-x: hidden;
    height: auto;
    width: 100%;
  }
  .grid_container {
    display: grid;
    grid-template-columns: auto 1fr 3fr 1fr auto;
    justify-items: end;
  }
  .bgcolor {
    grid-column: 3 / 4;
    width: 100%;
    max-width: 900px;
    height: min-content;
    min-height: 120vh;
    background-color: #1d2125;
    margin: auto;
    padding: 1em;
    border-radius: 10px;
  }
  
  .description {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    color: #fff;
    flex-wrap: wrap;
  }
  
  /**/
  .filter {
    grid-column: 2 / 3;
    height: fit-content;
    width: 230px;
    color: #fff;
    border: 3px solid #9fc4f0;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #1d2125;
  
  }
  
  .form {
    padding: 10px;
  }
  .checkbox_btn {
    display: inline-block;
    margin: 0 5px 0 0;
    user-select: none;
    position: relative;
  }
  .checkbox_btn input[type="checkbox"] {
    z-index: -1;
    opacity: 0;
    display: block;
    width: 0;
    height: 0;
  }
  .checkbox_btn span {
    display: inline-block;
    cursor: pointer;
    padding: 0px 10px;
    line-height: 30px;
    border: 1px solid #999;
    border-radius: 4px;
    transition: background 0.2s ease;
    margin: 2px;
    font-size: 10pt;
  }
  
  /* Checked */
  .checkbox_btn input[type="checkbox"]:checked + span {
    background: #8be3ff;
    color: #000;
  }
  
  /* Focus */
  .focused span {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  
  /* Hover */
  .checkbox_btn:hover {
    color: #666;
  }
  
  /* Active */
  .checkbox_btn input[type="checkbox"]:active:not(:disabled) + span {
    background: #4361ee;
    color: #000;
  }
  
  .btns {
    display: flex;
    justify-content: space-between;
    padding: 0px 10px; 
    margin-bottom: 15px;
  }
  
  /* .btns button {
    margin: 5px;
  } */
  .confirm {
    background-color: #4361ee;
    color: white;
    border: none;
    border-radius: 4px;
    width: 55%;
    max-width: 100px;
    font-size: 10pt;
    box-shadow: 5px 7px 2px rgba(0, 0, 0, 0.247);
  }
  
  /* Определение стилей для наведения на кнопку */
  
  .confirm:hover {
    background-color: #3349c0; /* Изменение цвета фона при наведении на кнопку */
  }
  
  /* Кнопка отмена*/
  
  .cancel {
    background-color: #8be3ff;
    color: black;
    border: none;
    padding: 7px;
    border-radius: 4px;
    width: 40%;
    max-width: 180px;
    font-size: 10pt;
    font-weight: 400;
    box-shadow: 5px 7px 2px rgba(0, 0, 0, 0.247);
  }
  
  .cancel:hover {
    background-color: #5fb8d3;
  }
  
  .search_card {
    width: 100%;
    height: 100%;
  }
  
  .td {
    border: 2px solid #9fc4f0;
    background-color: #313338;

    border-radius: 15px;
    max-height: 55px;
    width: 80%;
    padding: 1px;
    margin: 10px;
  }
  .headOfFind {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .search {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background-color: #1d2125;
    border: none;
    padding: 10px;
    outline: none;
  }
  
  input[type="search"] {
    color: #fff;
    background-color: #313338;
  }
  
  /*Cards*/
  .cards {
    display: flex;
    flex-wrap: wrap;  
    width: 100%;
    height: 100%;
  }
  
  .card {
    width: 100%;
    background-color: #313338;
    border-left: 2px solid #9fc4f0;
    padding: 1% 1%;
    box-shadow: #000 0px 0px 5px;
    margin:10px;
    font-size: 8pt;
  }
  .card:hover {
    box-shadow: #000 0px 0px 20px;
  }
  .picture {
    width: 300px;
    height: 270px;
    user-select: none; /* Запрещаем выделение текста */
  
  }
  .avatar {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
  }
  
  .card_block {
  
    display: flex;
    flex-direction: row;
  }
  .card_block div {
    margin: 5px;
  }
  
  .description2 {
    width: fit-content;
    max-width: 468px;
    height: max-content;
  }
  
  .description2 p {
    margin-bottom: 5px;
  }
  .team_name {
    width: fit-content;
    overflow-x: ellipsis;
  }
  .team_name_text {
    width: max-content;
    padding: 2px 4px;
    font-size: 20px;
    font-family: "Noto Sans", sans-serif;
    box-sizing: border-box; /* Учитываем границу в расчетах ширины */
    color: #fff9fc; /* Цвет текста в полях ввода */
    border-bottom: 2px solid #9fc4f0;
    font-size: 14pt;
    user-select: none; /* Запрещаем выделение текста */
    cursor: default; /* Устанавливаем стандартный курсор */
  }  
  .team_goal a {
    font-size: 12pt;
  }
  .team_goal_text {
    width: fit-content;
  
    box-sizing: border-box;
    color: #fff9fc;
    border-radius: 5px;
    font-size: 12pt;
    user-select: none; /* Запрещаем выделение текста */
    cursor: default; /* Устанавливаем стандартный курсор */
  }
  
  .team_goal_text span {
    border-bottom: 2px solid #9fc4f0;
  }
  
  .team_stack {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  .skill {
    height: min-content;
    width: -moz-fit-content;
    width: fit-content;
    cursor: default;
    padding: 1px 10px;
    line-height: 30px;
    border: 1px solid #999;
    border-radius: 4px;
    transition: background 0.2s ease;
    margin: 2px;
    display: flex;
    align-items: center;
  
  }
  .skill p {
    margin: 2px;
  }
  .match {
    color: #8be3ff;
  }
  
  /* Стили для выделения выбранных хобби */
  .button_hobby {
    display: flex;
    align-items: center;
    padding: 8px;
    background-color: transparent; /* Убираем фон */
    border: none; /* Убираем границу */
    cursor: pointer;
    outline: none;
    color: white; /* Делаем текст белым */
    text-align: left;
  }
  
  
  .triangleRight {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 8px solid white; /* Делаем треугольник белым */
    margin-right: 8px;
  }
  
  .triangleDown {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 8px solid white; /* Делаем треугольник белым */
    margin-right: 8px;
  }