.modal {
  width: 80%;
  position: relative;
  display: grid;
}
  
.content{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #4361EE;
  margin-bottom: 3%;
  border-radius: 10px;
}

.content p{
  margin: 0;
  padding: 0;
}

.button_close{
  text-decoration: none;
  width: 30%;
  height: 70%;
  color: #000;
  background-color: #8BE3FF;
  border: none;
  border-radius: 10px;
}

.button_close:hover{
  box-shadow: none;
  box-shadow:0 0 5px #9fc4f0;
  text-decoration: none !important;
}

.buttons{
  display: flex;
  justify-content: center;
  align-items: center;
}

.button_trigger{
  text-decoration: none;
  width: 145px;
  height: 45px;
  color: #fff;
  background-color: #4361EE;
  box-shadow: 0 5px 5px rgba(0,0,0,1);
  border-radius: 5px;
  border: none;
 
}
.button_trigger:hover{
  box-shadow: none;
  box-shadow:0 0 5px #9fc4f0;
  text-decoration: none !important;
}