.block_player {
    margin: 20px 0px;
    display: flex;
    width: 430px;
    border-left: 3px solid #9fc4f0;
    background-color: #313338;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25);
}

.player_icon {
    width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 17px;
}

.block_player .desc {
    margin-top: 17px;
}

.desc .player_title {
    font-size: 18px;
}

.initials .state {
    display: flex;
  margin-top: 10px;
  align-items: center
}

.initials .circle {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  vertical-align: middle;
  margin: 5px;
}

.initials .circle[id="1"]{
    background-color: #9fc4f0;
    
}

p.fullness {
    margin: 0;
}
