.search_page {
  /* background-image: url(../../images/bg.jpg);
  background-size: cover; */
  /* background-color: #131619; */
  position: relative;
  line-height: 1.4;
  color: #000;
  min-width: 320px;
  overflow-x: hidden;
  height: auto;
  width: 100%;
}

.bgcolor {
  max-width: 1200px;
  width: 90%;
  height: 100vh;
  background-color: #1d2125;
  margin: auto;
  padding: 1em;
  border-radius: 10px;
}

.description {
  max-width: 1200px;
  width: 85%;
  margin-bottom: 20px;
  padding-left: 1em;
  padding-right: 1em;
  overflow: hidden;
  display: flex;
  color: #fff;
  justify-content: space-between;
  flex-wrap: wrap;
}

/**/
.filter {
  height: 600px;
  width: 250px;
  border: 3px solid #9fc4f0;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.form {
  padding: 10px;
}
.checkbox_btn {
  display: inline-block;
  margin: 0 5px 0 0;
  user-select: none;
  position: relative;
}
.checkbox_btn input[type="checkbox"] {
  z-index: -1;
  opacity: 0;
  display: block;
  width: 0;
  height: 0;
}
.checkbox_btn span {
  display: inline-block;
  cursor: pointer;
  padding: 0px 10px;
  line-height: 30px;
  border: 1px solid #999;
  border-radius: 4px;
  transition: background 0.2s ease;
  margin: 2px;
}

/* Checked */
.checkbox_btn input[type="checkbox"]:checked + span {
  background: #8be3ff;
  color: #000;
}

/* Focus */
.focused span {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* Hover */
.checkbox_btn:hover {
  color: #666;
}

/* Active */
.checkbox_btn input[type="checkbox"]:active:not(:disabled) + span {
  background: #4361ee;
  color: #000;
}

.btns {
  display: flex;
  justify-content: space-between;
  margin-top: 50px; /*Внешний отступ сверху кнопок */
}

.btns button {
  margin: 5px;
}
.confirm {
  background-color: #4361ee; /* Цвет фона кнопки */
  color: white; /* Цвет текста на кнопке */
  border: none; /* Убираем границу кнопки */
  padding: 10px; /* Внутренний отступ вокруг текста на кнопке */
  cursor: pointer; /* Указатель при наведении на кнопку */
  border-radius: 4px; /* Скругление углов кнопки */
  width: 45%;
  max-width: 180px;
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 10px;
  box-shadow: 5px 7px 2px rgba(0, 0, 0, 0.247);
}

/* Определение стилей для наведения на кнопку */

.confirm:hover {
  background-color: #3349c0; /* Изменение цвета фона при наведении на кнопку */
}

/* Кнопка отмена*/

.cancel {
  background-color: #8be3ff; /* Цвет фона кнопки */
  color: black; /* Цвет текста на кнопке */
  border: none; /* Убираем границу кнопки */
  padding: 10px; /* Внутренний отступ вокруг текста на кнопке */
  cursor: pointer; /* Указатель при наведении на кнопку */
  border-radius: 4px; /* Скругление углов кнопки */
  width: 45%;
  max-width: 180px;
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 10px;
  box-shadow: 5px 7px 2px rgba(0, 0, 0, 0.247);
}

.cancel:hover {
  background-color: #5fb8d3;
}

.td {
  border: 2px solid #9fc4f0;
  border-radius: 15px;
  max-height: 55px;
  width: 80%;
  padding: 1px;
  margin-bottom: 40px;
}

.search_card {
  width: 70%;
  height: 100%;
}

.search {
  width: 100%;
  height: 100%;
  /* border: 2px solid #9fc4f0; */
  border-radius: 15px;
  background-color: #1d2125;
  border: none;
  padding: 10px;
  outline: none;
}

input[type="search"] {
  color: #fff;
}

/*Cards*/
.cards {
  display: flex;
  flex-wrap: wrap;  
}

.card {
  border: 2px solid #9fc4f0;
  border-radius: 15px;
  padding: 1% 1%;
  box-shadow: #000 0px 0px 5px;

}
.card:hover {
  box-shadow: #000 0px 0px 10px;
}
.picture {
  width: fit-content;
  height: fit-content;
}
.avatar {
  background-image: url(../../images/team_icon.jpg);
  background-size: 122%;
  background-position: center;
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

.card_block {

  display: flex;
  flex-direction: row;
  align-items: center;
}
.card_block div {
  margin: 5px;
}

.description2 {
  width: max-content;
  height: min-content;
}

.description2 p {
  margin-bottom: 5px;
  max-width: 300px;
}

.team_name_text {
  width: fit-content;
  padding: 2px 4px;
  font-size: 20px;
  font-family: "Noto Sans", sans-serif;
  box-sizing: border-box; /* Учитываем границу в расчетах ширины */
  background-color: #1d2125; /* Цвет фона полей ввода */
  color: #fff9fc; /* Цвет текста в полях ввода */
  border-radius: 5px; /* Скругление углов полей ввода */
  border: 2px solid #9fc4f0;
}
.team_name_text {
  white-space: nowrap; /* Предотвращает перенос текста на новую строку */
}


.team_goal_text {
  font-size: 16px;
  font-family: "Noto Sans", sans-serif;
  /* padding: 10px; Внутренний отступ вокруг текста в поле ввода */
  box-sizing: border-box; /* Учитываем границу в расчетах ширины */
  background-color: #1d2125; /* Цвет фона полей ввода */
  color: #fff9fc; /* Цвет текста в полях ввода */
  border-radius: 5px; /* Скругление углов полей ввода */

  max-height: 67px;
}

.team_goal_text span {
  border-bottom: 2px solid #9fc4f0;
}

.team_stack {
  grid-row: 2; /* Определяем, что элемент team_stack находится на второй строке */

  /* max-width: 100%; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 10px;
}
.skill {
  height: min-content;
  width: fit-content;
  cursor: default;
  padding: 1px 10px;
  line-height: 30px;
  border: 1px solid #999;
  border-radius: 4px;
  transition: background 0.2s ease;
  margin: 2px;

  display: flex;
  align-items: center;

}
.skill p {
  margin: 2px;
}
.match {
  color: #8be3ff;
}
