.foot{
    max-width: 1200px;
    height: 120px;
    display: flex;
    margin-top: 2%;
    position: relative;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
}
.forflex {
    display: flex;
}
.footer_text{   
    margin: 0;
    padding: 0;
    display: flex;
    margin-right: 0px;
}
    

.inf{
    margin-left: 30px;
}

.inf_t_2{
    color:#FFF9FC;
    text-decoration: none !important;
    text-align: right;
    font-weight: 400;
    font-size: 12px;
}

.inf_t_2:hover{
    color: #9FC4F0;
    transform: scale(1.05);
    transition: all 0.1s ease-in-out;
}

.foot_h{
    text-decoration: none !important;
    color: #4361EE;
    text-align: right;
    font-size: 14px;
    font-weight: 700;
}

.foot_h:hover{
    text-decoration-line: underline;
    opacity: 0.8;
}

.soc{
    text-align: right;
}

a.btn_sign_up{
    text-decoration: none;
    color: #000;
    width: 288px;
    height: 52px;
    background-color: #8BE3FF;
    box-shadow: 0 5px 5px rgba(0,0,0,1);
    margin-left: 30px;
    margin-top: 25px;
    margin-bottom: auto;
    cursor: pointer;
    font-weight: 500;
    font-size: 25px;
    border-radius: 5px;
    display: flex;  
    justify-content: center;
    align-items: center;
}
.btn_sign_up:hover{
    box-shadow: none;
    box-shadow:0 0 5px #9fc4f0;
    text-decoration: none !important;
}