@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
  line-height: 1.4;
  color: #000;
  min-width: 320px;
  overflow-x: hidden;
  height: auto;
  width: 100%;
  background-color: #1d2125;
}

/*header*/

.navbar {
  width: 100%;
  height: 60px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-image: url(../images/NavbarBG.jpg);
  background-position-y: 2530px;
  background-position-x: 2890px;
}

.navbar .container {
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px auto;
}

.navbar-menu {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: 2%;
}

.navbar-menu li {
  display: inline-block;
}

.navbar-menu li a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding: 10px;
}
.navbar-menu li a:hover {
  color: #9FC4F0;
  transform: scale(1.05);
  transition: all 0.1s ease-in-out;
}

.navbar-wrap {
  display: flex;
  flex-flow: row nowrap;
}

.faq {
  padding: 10px;
  border-radius: 100px;
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
}

.faq:hover {
  color: #9FC4F0;
  text-decoration: none;
  transform: scale(1.05);
  transition: all 0.1s ease-in-out;
}

.btn-profile{
  float: right;
  width: 95px;
  height: 35px;
  border-radius: 5px;
  border-style: none;
  cursor: pointer;
  background-color: #4361EE;
  box-shadow: 0 5px 5px rgba(0,0,0,0.6);
  color: #FFF9FC;
  font-size: 15px;
  font-weight: 500;
  margin-top: 2px;
  
}

.btn-profile:hover{
  box-shadow: none;
  box-shadow:0 0 5px #9fc4f0;
}

/*main unit*/

.description {
  overflow: hidden;
  display: flex;
  color: #fff;
  margin: 1em auto;
  justify-content: space-between;
  flex-wrap: wrap;
}

body div.container {
  max-width: 1200px;
  width: 85%;
  margin-bottom: 20px;
  margin: 0px auto;
}

.navbar-brand {
  font-weight: 700;
  font-size: 35px;
  text-decoration: none;
  font-style: bold;
  color: #fff;
}
.navbar-brand:hover {
  color: #fff;
  text-decoration: none;
  transition: all 0.1s ease-in-out;
}

.team {
  overflow: hidden;
  display: block;
  color: #fff;
  margin: 1em auto;
}
.team .acc_panel {
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 26em;
  border: 3px solid #9fc4f0;
  border-radius: 10px;
}
.avatar {
  width: 87px;
  height: 87px;
  border-radius: 6%;
  margin: 8px 25px;
}

.team h1 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 15px;
}

.initials .name {
  margin-left: 6px;
  border-bottom: 2px solid #9fc4f0;
}
p.name {
  font-size: 20px;
}

.player .block_player {
	margin: 20px 0px;
	display: flex;
	width: 430px;
	border-left: 3px solid #9fc4f0;
	background-color: #313338;
	box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25);
}

.player .player_icon {
	width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 17px;
}

.block_player .desc {
	margin-top: 17px;
}

.desc .player_title {
	font-size: 18px;
}

.initials .state {
	display: flex;
  margin-top: 10px;
}

.initials .circle {
	width: 13px;
  height: 13px;
  border-radius: 50%;
  vertical-align: middle;
  margin: 5px;
}

.initials .circle[id="1"]{
	background-color: #9fc4f0;
}

p.fullness {
	margin: 0;
}

.player {
	width: calc(10% + 350px);
  margin-right: 5px;
}

.info-team{
  margin-top: 20px;
  width: calc(10% + 300px);
  margin-right: 80px;
}

.tags,.inf-p{
  resize: none;
  font-size: 20;
  padding: 5px;
  font-family: "Noto Sans", sans-serif;
  color: #fff;
  background-color: #313338;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25);
  border: 3px solid #9fc4f0;
  border-radius: 10px;
  outline-color: #fff;
}

.tag p, .info p{
  font-size: 25px;
  font-style: bold;
  margin-bottom: 15px;
}

.tag{ 
  margin-bottom: 50px;
}

.tag-field{
  display: flex;
}

/* .btn-plus{
  width: 30px;
  height: 30px;
  background-image: url("../images/plus.svg");
  background-size:100%;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  border: none;
  margin-left: 20px;
  margin-top: 30px;
}

  .tag-field button img:hover{
  background-image: url("../images/plus2.svg");
}  */


/*footer*/

footer {
  display: flex;
  justify-content: space-around;
}

footer .footcont {
  max-width: 1200px;
  width: 80%;
  margin-top: 100px;
  height: 130px;
  display: flex;
  align-items: start;
  flex-direction: row-reverse;
}

.footcont div {
  display: flex;
  width: min-content;
  flex-wrap: wrap;
  margin: 12px;
}
.footcont div a {
  text-decoration: none;
  width: max-content;
  min-width: 90px;
  color: #fff;
}
.footcont div a.header {
  color:#4361ee;
  font-weight: bold;
}
.footcont div a:hover {
  text-decoration-line: underline;
  opacity: 0.8;
}