.main_body{
    background-color: #1D2125;
    background: linear-gradient( rgba(29, 33, 37, 0.53), rgba(29, 33, 37, 0.53)), url("../../images/bg.jpg");
    /* background-image: url("images/bg.jpg");  */
    background-size: 100% 1024px;
    background-repeat: no-repeat;
}

.container1{
    width: 100%;
    height: 600px;
} 

.main{  
    margin-top: 300px;
    text-align: center;
    vertical-align: middle;
}

.main_text{
    width: 750px;
    height: 120px;
    border-radius: 20px;
    border: 2px solid #9FC4F0;
    margin: 100px auto;
    color: #FFF9FC ;
    text-align: center;
    display: flexbox;
    vertical-align: middle;
}

.first_text{
    font-size: 33px;
    font-weight: 500;
}

.name{
    font-size: 45px;
    font-weight: 600;
}

.second_text{
    font-size: 25px;
    font-weight: 500;
}

a.btn_sign_in{
    text-decoration: none;
    color: #FFF9FC;
    padding: auto;
    float: right;
    width: 95px;
    height: 35px;
    border-radius: 5px;
    border-style: none;
    cursor: pointer;
    background-color: #4361EE;
    box-shadow: 0 5px 5px rgba(0,0,0,0.6);
    font-size: 15px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

a.btn_sign_in:hover{
    box-shadow: none;
    box-shadow:0 0 5px #9fc4f0;
}

.btn_sign_up{
    text-decoration: none;
    color: #000;
    width: 288px;
    height: 52px;
    background-color: #8BE3FF;
    box-shadow: 0 5px 5px rgba(0,0,0,1);
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    font-weight: 500;
    font-size: 25px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn_sign_up:hover{
    box-shadow: none;
    box-shadow:0 0 5px #9fc4f0;
}
#foot_sign_up {
    margin-left: 30px;
    margin-top: 25px;
    margin-bottom: auto;
}

/**/
.container2{
    width: 100%;
    height: 750px;
    display: flex;
    justify-content: center;
}

.container3{
    width: 100%;
    height: 900px;
    display: flex;
    justify-content: center;
}

.text_cont2{
    width: 420px;
    height: 310px;
    border-radius: 20px;
    border: 3px solid #9FC4F0;
    font-size: 25px;
    font-weight: 500;
    padding: 25px;
    margin-top: 300px;
}

.img_cont2{
    width: 420px;
    height: 310px;
    border-radius: 20px;
    border: 3px solid #9FC4F0;
    margin-right: 250px;
    margin-top: 340px;
}

.cont2_head{
    font-size: 33px;
    font-weight: 700;
}

.text_cont3{
    width: 420px;
    height: 310px;
    border-radius: 20px;
    border: 3px solid #9FC4F0;
    font-size: 25px;
    font-weight: 500;
    padding: 25px;
    margin-right: 250px;
    margin-top: 150px;
}

.img_cont3{
    width: 420px;
    height: 310px;
    border-radius: 20px;
    border: 3px solid #9FC4F0;
    
    margin-top: 180px;
}

.cont3_head{
    font-size: 33px;
    font-weight: 700;
    margin-top: 150px;
}

